footer {
  a: c;
}
footer div.wrap {
  a: c;
}
footer div.wrap h1 {
  a: c;
}
footer div.wrap ul.fnb {
  a: c;
}
footer div.wrap ul.fnb li {
  a: c;
}
footer div.wrap ul.fnb li h2 {
  a: c;
}
footer div.wrap ul.fnb li ul {
  a: c;
}
footer div.wrap ul.fnb li ul li {
  a: c;
}
footer div.wrap ul.fnb li ul li a {
  a: c;
}
footer div.wrap ul.fnb2 {
  a: c;
}
footer div.wrap ul.fnb2 li {
  a: c;
}
footer div.wrap ul.fnb2 li a {
  a: c;
}
footer div.wrap ul.sns {
  a: c;
}
footer div.wrap ul.sns li {
  a: c;
}
footer div.wrap ul.sns li a {
  a: c;
}