footre{a:b;
    div{a:b;
        h1{a:b;

        }
        ul.fnb{a:b;
            li{a:b;
                h2{a:b;

                }
                ul{a:b;
                    li{a:b;
                        a{a:b;

                        }
                    }

                }
            }
        }
        ul.fnb2{a:b;
            li{a:b;
                a{a:b;
                    
                }
            }

        }
        ul.sns{a:b;
            li{a:b;
                a{a:b;

                }
            }
        }
        address{a:b;

        }

    }
}